# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json
Editing-Toolbar-Test-Vault/.obsidian

# build
main.js
.DS_Store
*.js.map
.env

# obsidian
data.json

#history
.history

#DS Store
.DS_Store
