# Intellij
*.iml
.idea

# npm
node_modules
package-lock.json

# build
main.js
.DS_Store
*.js.map
.env

# obsidian
data.json

#history
.history

#DS Store
.DS_Store
Editing-Toolbar-Test-Vault/.obsidian/appearance.json
Editing-Toolbar-Test-Vault/.obsidian/community-plugins.json
Editing-Toolbar-Test-Vault/.obsidian/hotkeys.json
Editing-Toolbar-Test-Vault/.obsidian/plugins/editing-toolbar/manifest.json
Editing-Toolbar-Test-Vault/.obsidian/plugins/obsidian-excalidraw-plugin/manifest.json
Editing-Toolbar-Test-Vault/.obsidian/plugins/obsidian-excalidraw-plugin/styles.css
Editing-Toolbar-Test-Vault/.obsidian/themes/Blue Topaz/manifest.json
Editing-Toolbar-Test-Vault/.obsidian/themes/Blue Topaz/theme.css
Editing-Toolbar-Test-Vault/.obsidian/types.json
Editing-Toolbar-Test-Vault/.obsidian/workspace.json
Editing-Toolbar-Test-Vault/Excalidraw/Drawing 2025-03-11 08.58.10.excalidraw.md
Editing-Toolbar-Test-Vault/test.md
Editing-Toolbar-Test-Vault/未命名.canvas
/Editing-Toolbar-Test-Vault
/Editing-Toolbar-Test-Vault/.obsidian
